<!DOCTYPE html>
<div layout-fill layout="column" style="position: relative">

    <md-button ng-click="$ctrl.createRoom($event)" class="md-raised md-accent md-hue-2" style="border-radius: 16px; position: absolute; top: 0; left: 50%; transform: translate(-50%); z-index: 200">
        <md-icon md-svg-icon="plus"></md-icon>
        <span>Create Room</span>
    </md-button>

    <md-content style="padding-top: 40px;">
        <md-list>
            <md-list-item ng-repeat="room in $ctrl.rooms() | orderBy: 'name'" layout="row" ng-click="$ctrl.joinRoom(room)">
                <p>{{room.name}}</p>
                <div ng-if="room.users.length > 0" class="md-secondary" layout="row" layout-align="end center">
                    <span style="padding-top: 2px; margin-right: 4px;">{{room.users.length}}</span>
                    <md-icon ng-if="room.users.length === 1" md-svg-icon="account" md-colors="$ctrl.getRoomIndicatorFill(room)"></md-icon>
                    <md-icon ng-if="room.users.length === 2" md-svg-icon="account-multiple" md-colors="$ctrl.getRoomIndicatorFill(room)"></md-icon>
                    <md-icon ng-if="room.users.length > 2" md-svg-icon="account-group" md-colors="$ctrl.getRoomIndicatorFill(room)"></md-icon>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
