md-input-container.md-no-error div.md-errors-spacer:empty {
    min-height: 0;
}

md-list-item md-icon {
    margin: initial;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00838f;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00e5ff;
}