<!DOCTYPE html>
<md-toolbar md-whiteframe="4">
    <div class="md-toolbar-tools">

        <md-button hide show-xs show-sm class="md-icon-button" ng-click="$ctrl.openSidenav()">
            <md-icon md-svg-icon="forum-outline"></md-icon>
        </md-button>

        <span>{{$ctrl.getTitle()}}</span>

        <span flex></span>

        <md-button ng-click="$ctrl.leaveRoom()" ng-if="$ctrl.getActiveRoom()" class="md-icon-button">
            <md-icon md-svg-icon="logout"></md-icon>
        </md-button>

    </div>
</md-toolbar>